In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
# Import libraries

import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Patch

import my_functions as func

In [5]:
"""
Main program

"""

# Initiate a dictionary with characteristics and layout information
char_dict = func.make_char_dict()

In [12]:
# List of characteristics to plot
chars = ['Cylindricity_Cyl_4mm_Pos',\
         'Cylindricity_Cyl_8mm_Pos',\
         'Cylindricity_Cyl_16mm_Pos',\
         'Cylindricity_Cyl_24mm_Pos']

# Retrieve the characteristics from the dictionary
dfs = func.df_from_dict(chars, char_dict)

dfs = pd.concat(dfs)

dfs.describe()

,error,build,part_index,x_pos,y_pos,z_pos,angle,center_x,center_y,center_z
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000
mean,0.158656,2.000000,23.000000,2.000000,2.000000,3.000000,58.000000,170.000000,170.000000,250.320000
std,0.083645,0.817254,12.999215,0.817254,0.817254,1.415525,84.216789,81.725365,81.725365,141.156137
min,0.060130,1.000000,1.000000,1.000000,1.000000,1.000000,-90.000000,70.000000,70.000000,50.880000
25%,0.099542,1.000000,12.000000,1.000000,1.000000,2.000000,15.000000,70.000000,70.000000,150.600000
50%,0.134423,2.000000,23.000000,2.000000,2.000000,3.000000,70.000000,170.000000,170.000000,250.320000
75%,0.194522,3.000000,34.000000,3.000000,3.000000,4.000000,125.000000,270.000000,270.000000,350.040000
max,0.559931,3.000000,45.000000,3.000000,3.000000,5.000000,180.000000,270.000000,270.000000,449.760000

In [11]:
dfs['angle'] = dfs['angle']

dfs.describe()

,error,build,part_index,x_pos,y_pos,z_pos,angle,center_x,center_y,center_z
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000
mean,0.158656,2.000000,23.000000,2.000000,2.000000,3.000000,418.000000,170.000000,170.000000,250.320000
std,0.083645,0.817254,12.999215,0.817254,0.817254,1.415525,84.216789,81.725365,81.725365,141.156137
min,0.060130,1.000000,1.000000,1.000000,1.000000,1.000000,270.000000,70.000000,70.000000,50.880000
25%,0.099542,1.000000,12.000000,1.000000,1.000000,2.000000,375.000000,70.000000,70.000000,150.600000
50%,0.134423,2.000000,23.000000,2.000000,2.000000,3.000000,430.000000,170.000000,170.000000,250.320000
75%,0.194522,3.000000,34.000000,3.000000,3.000000,4.000000,485.000000,270.000000,270.000000,350.040000
max,0.559931,3.000000,45.000000,3.000000,3.000000,5.000000,540.000000,270.000000,270.000000,449.760000